@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="App">
    <header class="App-header">
        <a href="https://github.com/hymccord/sb-status" target="_blank" class="github-icon">
            <i class="fab fa-github"></i>
        </a>
        <p id="sb-status">
            Sponsorblock server status:
            @{
                switch (Model.Health)
                {
                    case Yarp.ReverseProxy.Model.DestinationHealth.Healthy:
                        <span role="img" aria-label="Healthy">✔️</span>
                        break;
                    case Yarp.ReverseProxy.Model.DestinationHealth.Unhealthy:
                        <span role="img" aria-label="Unhealthy">💀</span>
                        break;
                    case Yarp.ReverseProxy.Model.DestinationHealth.Unknown:
                    default:
                        <span role="img" aria-label="Unknown">❔</span>
                        break;
                }
            }
        </p>
        <br />
        <p>Backups: </p>

        <table>
            <tbody>
                @{
                    foreach (var backup in Model.Backups.OrderBy(d => d.Model.Config.Address))
                    {
                        <tr>
                            <td style="text-align:left">@backup.Model.Config.Address:</td>
                            <td>@IndexModel.HeathToEmoji(@backup.Health.Active)</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </header>
</div>
